<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <!-- <div class="formgroup">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" appOnlyAlphabets
      [ngClass]="{'smallinput':(myForm.get('name').hasError('whitespace') && myForm.get('name').touched)}   ">
    <small [ngClass]="{'smallcls':(5>4)}"
      *ngIf="myForm.get('name').hasError('whitespace') && myForm.get('name').touched">Please enter a valid name (cannot
      be only spaces).</small>
  </div> -->

  <!-- <div class="formgroup">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
    <small [ngClass]="{'smallcls': myForm.get('name').hasError('whitespace') || myForm.get('name').hasError('numeric')}"
      *ngIf="myForm.get('name').touched">
      {{ myForm.get('name').hasError('whitespace') ? 'Please enter a valid name (cannot be only spaces).' : myForm.get('name').hasError('numeric') ? 'Only enter characters.' : '' }}
    </small>
  </div> -->
  <div class="formgroup">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" appOnlyAlphabets
      [ngClass]="{'smallinput': myForm.get('name').touched && (myForm.get('name').hasError('whitespace') || myForm.get('name').hasError('numeric'))}">
    <small [ngClass]="{'smallcls': myForm.get('name').touched && (myForm.get('name').hasError('whitespace') || myForm.get('name').hasError('numeric'))}"
      *ngIf="myForm.get('name').touched">
      {{ myForm.get('name').hasError('whitespace') ? 'Please enter a valid name (cannot be only spaces).' : myForm.get('name').hasError('numeric') ? 'Only enter characters.' : '' }}
    </small>
  </div>
  
  
  

  <div class="formgroup">
    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email"
      [ngClass]="{'smallinput':(myForm.get('email').hasError('pattern'))}   ">
    <small [ngClass]="{'smallcls':(5>4)}" *ngIf="myForm.get('email').hasError('pattern')">
      Please enter a valid email ending with @gmail.com.
    </small>
  </div>
  <div class="formgroup">
    <label for="phone">Phone:</label>
    <input type="text" id="phone" formControlName="phone" appOnlyNumber
      [ngClass]="{'smallinput': (myForm.get('phone').hasError('pattern') && myForm.get('phone').dirty) || (myForm.get('phone').hasError('minlength') || myForm.get('phone').hasError('maxlength'))}">
    <small *ngIf="myForm.get('phone').dirty && myForm.get('phone').hasError('pattern')" class="smallcls">
      Only numeric characters are allowed.
    </small>
    <small
      *ngIf="(myForm.get('phone').dirty && myForm.get('phone').hasError('minlength')) || (myForm.get('phone').dirty && myForm.get('phone').hasError('maxlength'))"
      class="smallcls">
      Phone number must be exactly 10 digits.
    </small>
  </div>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>

<!-- <div class="bg-primary text-white">
  <h1>hello</h1>
</div>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button> -->